# .NET Build-Ordner
bin/
obj/
debian_folder/

# VS Code Einstellungen & Cache
.vscode/
.vs/
dist/

# User-spezifische Einstellungen (wie deine gespeicherte IP für Tests)
*.user
settings.json


# Betriebssystem-Müll
.DS_Store
Thumbs.db